openapi: 3.1.0
info:
  title: SIGNL4 and REST Events Webhook API
  description: SIGNL4 mobile alerting platform endpoints. The inbound webhook accepts JSON, form-encoded, or multipart payloads with Title and Message fields plus optional X-S4 control parameters and triggers SIGNL4 mobile alerts. The REST API v2 lets clients raise events with an X-S4-Api-Key header. Authentication uses a unique team or webhook secret embedded in the URL path or supplied via the API key header.
  version: v2
  contact:
    name: SIGNL4 Support
    url: https://support.signl4.com
servers:
- url: https://connect.signl4.com
  description: SIGNL4 connect endpoint
tags:
- name: Webhook
paths:
  /webhook/{teamSecret}:
    post:
      summary: Trigger Inbound Webhook Alert
      description: Trigger a SIGNL4 mobile alert by posting a payload containing Title and Message fields along with any optional X-S4 control parameters. Authentication is via the team or webhook secret embedded in the URL path. Supports application/json, application/x-www-form-urlencoded, and multipart/form-data content types.
      operationId: triggerWebhookAlert
      tags:
      - Webhook
      parameters:
      - name: teamSecret
        in: path
        required: true
        description: Team or webhook secret that authorizes the alert.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Title:
                  type: string
                  description: Short alert title.
                Message:
                  type: string
                  description: Alert message body.
                X-S4-Service:
                  type: string
                X-S4-Location:
                  type: string
                X-S4-AlertingScenario:
                  type: string
                X-S4-ExternalID:
                  type: string
                X-S4-Status:
                  type: string
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                Title:
                  type: string
                Message:
                  type: string
          multipart/form-data:
            schema:
              type: object
              properties:
                Title:
                  type: string
                Message:
                  type: string
      responses:
        '200':
          description: Alert accepted
        '400':
          description: Invalid payload
        '401':
          description: Unauthorized
components:
  securitySchemes:
    S4ApiKey:
      type: apiKey
      in: header
      name: X-S4-Api-Key
      description: Team or webhook secret used to authorize REST API requests.
